.actionContainer {
	position: absolute;
	left : 210px ;
    top : 115px;
    width: 350px;
    background-color: #C8C8C8;
    border-bottom: #000 2px inset;
	border-left: #eee 2px inset;
	border-right: #000 2px inset;
	border-top: #eee 2px inset;
	-moz-box-shadow: 3px 3px 3px #000;
	-webkit-box-shadow: 3px 3px 3px #000;
	box-shadow: 3px 3px 3px #000;
	-moz-border-radius: 3px;
	border-radius: 3px;
	opacity: 0.8;
}

.actionTitleBar, .nucTitleBar {
	height: 22px;
}
.actionClassActive {
	background-color: gray;
	opacity: 1;
	z-index: 1000;
}

.helpContent {
	width: 200px;
	height: 100px;
	border: 1px solid #000;
	background-color: #f8d078;
	color: #000;
	padding: 5px;
	position: absolute;
	z-index: 1000;
}
.shActionContainer {	
    width: 100%;
    background-color: gray;
}

.actionHeaderStyle {
	width: 100%;
	background: url(../images/blue-bar.png) repeat-x;
	height: 29px;
	border-bottom: 1px inset black;
}

.actionNameFieldStyle {
	width: 100%;
	height: 22px;
	cursor: text;
	padding-top: 4px;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	float: left;
	padding-top: 4px;
	padding-bottom: 4px;
	color: white;
	text-shadow: 0 1px 1px #484949;
}

#preCondiotionContainer {
	background-color: #eee;
}
#postCondiotionContainer {
	background-color: #eee;
}
.preActionControlButton {
	width: 65px;
}

.actionAttrContainerStyle {
	width: 100%;
}

.preHeaderPanel, .postHeaderPanel {
	width: 100%;
	border-top: 1px #333 solid ;
	text-align: center;
	text-shadow: 0 1px 1px #484949;
	background: url(../images/silvergradient.gif) top left repeat-x;
	height: 32px;
	color: white;
}

.precondition, .postcondition {
	text-align: center;
	width: 55%;
	height: 28px;
	font-weight: bold;
	float: left;
	margin-top: 2px;
	cursor: default;
}

.preActionControlButtonsPanel, .postActionControlButtonsPanel  {
	float: right;
	width: 45%;
	height: 24px;
	margin-top: 2px;
	text-align: center;
}

.preActionAttrPanelStyle {
	width: 100%;
    border-top: 1px #333 solid ;
    clear: both;
}

.preActionAttrChecker {
	width: 5%;
	float: left;
	padding-top: 4px;
	text-align: center;
}

.preActionAttrName, .postActionAttrName {
	width: 50%;
	float: left;
	padding-top: 4px;
	padding-bottom: 4px;
	cursor: default;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	height: 22px;
}

.preActionAttrParentConc {
	width: 35%;
	float: left;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
}

.preActionSubAttrDisplay {
	width: 10%;
	float: right;
	padding-top: 2px;
	padding-bottom: 4px;
	text-align: center;
}

.preActionSubAttrStyle {
	width: 100%;
	clear: both;
	float: none;
}

.showActionAttrChild {
    background: url("../images/plus-minus.png") no-repeat scroll center top transparent;
    cursor: pointer;
    height: 25px;
    margin-left: 3px;
    width: 30px;
}

.actionParentAttribute {
	background: url(../images/attr.png) left top repeat-x;
	width: 100%;	
	height: 32px;
}

.postActionControlButton {
	width: 65px;
}

.postActionAttrPanelStyle {
	width: 100%;
    background-color: #EEEEEE;
    border-top: 1px #333 solid ;
    clear: both;
    height: 29px;
}

.postActionAttrChecker {
	width: 5%;
	float: left;
	padding-top: 4px;
	text-align: center;
}

.postAttrOper {
	width: 10%;
	float: left;
	padding-top: 4px;
	text-align: center;
}

.postActionAttrValuePanel {
	width: 35%;
	float: left;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
}

.postActionValue {
	width: 90%;
	text-align: center;
	font-weight: bold;
}
.preActionParent {
	width: 120px;
}
