.bunchContainer {
	width: 110px;
	background-color: black;
	border-bottom: #000 2px inset;
	border-left: #eee 2px inset;
	border-right: #000 2px inset;
	border-top: #eee 2px inset;	
	display: none;
	float: left;	
}

.bunchHeader {
	width: 100%;
	height: 23px;
	background-color: #add8ef;
}

.bunchNameField {	
	width: 75%;	
	cursor: default;
	font-weight: bold;
	text-align: center;
	font-size: 13px;	
	float: left;
}

.bunchRemoveButtonPanel {
	width: 25%;
	float: right;
	text-align:center;
	padding-top: 4px;
}

.bunchAttrsContainerStyle {
	width: 100%;	
}

.bunchAttrPanelStyle {
	width : 100% ;
    height : 25px ;
    background-color : #eee ;
    border-top : 1px black solid ;
    padding-top: 2px;
}

.bunchAttrNamePanelStyle {
	width: 52%;
	float: left;
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	cursor: default;	
	padding-left: 2px;
}

.bunchAttrValuePanelStyle {
	width: 45%;
	float: right;
	text-align: center;
}

.bunchAttrValueStyle {
	size: 2;
	font-weight: bold;
	text-align: center;
}
.keyicon {
	cursor: pointer;
    float: left;
    height: 20px;
    margin-right: 2px;
    width: 25px;
	background: url("../images/icons.png") no-repeat scroll -62px 0 transparent;
}
.helpicon, .closeicon, .saveicon {
	width: 20px;
	height: 20px;
	margin-right: 2px;
	cursor: pointer;
	float: right;
}
.closeicon {
	background: url('../images/icons.png') -2px 0px  no-repeat;
}
.closeicon:hover {
	background: url('../images/icons.png') -2px -19px  no-repeat;
}
.helpicon {
	background: url('../images/icons.png') -22px 0px no-repeat;
}
.helpicon:hover {
	background: url('../images/icons.png') -22px -19px  no-repeat;
}
.saveicon {
	background: url('../images/icons.png') -42px 0px no-repeat;
}
.saveicon:hover {
	background: url('../images/icons.png') -42px -19px  no-repeat;
}
#closeBar {
	width: 100%;
	height: 14px;
	position: relative;
	display: block;
}