body {
    background-color: #FFF;
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

.hide
{
    display: none;    
}

a:link {
    color: #034af3;
    text-decoration: underline;
}

a:visited {
    color: #505abc;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #12eb87;
}

#body
{    
    padding: 0 40px;
    min-width: 670px;
    max-width: 1000px;
    margin: 40px auto;   
    overflow: hidden 
}

#board
{
    border: 1px solid #000;
    float: right;  
    height: 480px;
    width: 480px;
    margin-bottom: 20px;
}

#board > div
{
    height: 60px;
    width: 60px;
    float: left;    
}

#board_wraper{
    float: left;
    height: 515px;
    width: 515px;
    margin-bottom: 20px;    
    background-image: url("../images/wraper.png");
	
}

[data-cell="1"] {
    background: #fff;  
}

[data-cell="2"] {
    background: #555;  
}

[data-cell="1"].highlighted
{
    background-color: #FF9595;
}

[data-cell="2"].highlighted
{
    background-color: #6A0000;
}

/**************************************/
#figures
{
    float: right;
    height: 441px;
    width: 126px;   
}

#plansInfo {
    float: left;
    height:150px;
    width: 305px;
}

#figures > div
{
    border: 1px solid #ccc;
    height: 60px;
    width: 60px;
    float: left;    
}

[data-figure="1"][data-color="2"] {
    background-image: url('../images/2-1.png')
}

[data-figure="1"][data-color="1"] {
    background-image: url('../images/1-1.png')
}

[data-figure="2"][data-color="2"] {
    background-image: url('../images/2-2.png')
}

[data-figure="2"][data-color="1"] {
    background-image: url('../images/1-2.png')
}

[data-figure="3"][data-color="2"] {
    background-image: url('../images/2-3.png')
}

[data-figure="3"][data-color="1"] {
    background-image: url('../images/1-3.png')
}

[data-figure="4"][data-color="2"] {
    background-image: url('../images/2-4.png')
}

[data-figure="4"][data-color="1"] {
    background-image: url('../images/1-4.png')
}

[data-figure="5"][data-color="2"] {
    background-image: url('../images/2-5.png')
}

[data-figure="5"][data-color="1"] {
    background-image: url('../images/1-5.png')
}

[data-figure="6"][data-color="2"] {
    background-image: url('../images/2-6.png')
}

[data-figure="6"][data-color="1"] {
    background-image: url('../images/1-6.png')
}

[data-figure="7"][data-color="1"] {
    background-color: white
}

[data-figure="7"][data-color="2"] {
    background-color: black
}

#toolbar
{
    clear: both;
    border-top: 2px solid #ccc;
    margin-top: 30px;
    padding: 20px 0;
}

#toolbar > *
{    
    border: 1px solid #ccc;
    color: #000;
    padding: 4px;
    margin-right: 6px;
}

#actives
{
    float: right;    
    display: none;
}

#message
{
	
 display:none;
 width:260px;
 height:70px;
 background:rgba(0,0,0,0.2);
 border:3px solid #ccc;
 position:fixed;
 bottom:60px;
 left:838px;
 border-radius:10px;
}

#cl{
  background-image: url('../images/messageClose.png');
}
