.chessContentMainPanelStyle {
	width: 100%;
	height: 100%;
	background-color: #ccc;
}

.chessDisplayPanelStyle {
	width: 73%;
	padding-top: 4px;
	padding-left: 3px;
	padding-bottom: 1px;
	height: 98%;
	float: left;
	border-left: 2px inset #777;
	border-bottom: 2px inset #000;
	border-right: 2px inset #000;
	border-top: 2px inset #777;
	background: url("../../images/back.png") repeat;
	overflow-y: scroll;
}

.chessControlPanelStyle {
	width: 22%;
	height: 98%;
	float: right;
	padding-top: 4px;
	padding-left: 2px;
	padding-right: 5px;
	padding-bottom: 1px;
}

.accordionPanelStyle {
	width: 100%;	
	height: 95%;
	background: url("../../images/back.png") repeat;
	border-left: 2px inset #777;
	border-bottom: 2px inset #000;
	border-right: 2px inset #000;
	border-top: 2px inset #777;
}

.chessConceptsTree {
	width: 100%;
	height: 100%;	
}

.chessConceptsTreeHeader{
	width: 100%;
	height: 5%;
	text-align: center;
	font-weight: bold;
	font-size: 19px;
	border-bottom: 1px black solid;
	cursor: pointer;
	background-color: #C3A488;
	color: #F8F5DF;
}

.chessConceptsTreeBody {
	background-color: #eee;
	width: 100%;
	overflow-y: scroll;
	height: 89%;
}

.figureListContainer {
	width: 100%;	
}

.figureControlPanel {
	width: 100%;		
	text-align: center;
	clear: both;
	padding-top: 5px;
	padding-bottom: 5px;
}

.figureAppendPanel {
	width: 100%;
	text-align: center;
	height: 35px;
	border: 1px solid black;
}

.figureListHeader{
	width: 100%;
	height: 5%;
	text-align: center;
	font-weight: bold;
	font-size: 19px;
	border-bottom: 1px black solid;
	border-top: 1px black solid;
	cursor: pointer;
	background-color: #C3A488;
	color: #F8F5DF;
}

.figurePanel {
	border-bottom: 2px inset black;
	border-top: 2px inset black;
	border-left: 1px solid black;
	border-right: 2px solid black;
	width: 48%;
	height: 70px;
	float: left;
	text-align: center;
	background-color: #ddd;
}

.figureImgStyle {
	cursor: move;
}

.hover {
    border: 5px dashed #aaa;
    background:#efefef; 
  }

.findButtonPanelStyle {
	text-align: center;
	width: 100%;
}

.pElementsListContainerStyle{
	width: 100%;
	background-color: #eee;
	height: 28px;
	border-bottom: 2px inset black;	
}

.sitButtons {
	width: 105px;
}

.chessBoardContainer {
	width: 500px;
	height: 500px;
	background-color: #C3A488;
	position: absolute;
	top: 50px;
	left: 130px;
}

.chessBoard {
	width: 448px;
	height: 448px;
	position: absolute;
	top: 25px;
	left: 25px;
	border-bottom: 2px inset #C3A480;
	border-right: 2px inset #C3A480;
	border-top: 2px inset #C3A482;
	border-left: 2px inset #C3A482;
	float: left;
	clear: both;
}

.rightBlock {
	position: absolute;
	left: 475px;
	top: 25px;
	float: left;
	width: 25px;
	height: 448px;
}

.leftBlock {
	position: absolute;
	left: 0px;
	top: 25px;
	float: left;
	width: 25px;
	height: 448px;
}

.topBlock {
	position: absolute;
	left: 25px;
	top: 0px;
	clear: both;
	width: 448px;
	height: 25px;
}

.bottomBlock {
	position: absolute;
	left: 25px;
	top: 475px;
	clear: both;
	width: 448px;
	height: 25px;
}

.leftBlockNumber {
	clear: both;
	width: 25px;
	height: 55px;
	text-align: center;
	font-weight: bold;
	font-size: 19px;
	color: beige;
}

.rightBlockNumber {
	clear: both;
	width: 25px;
	height: 55px;
	text-align: center;
	font-weight: bold;
	vertical-align: center;
	font-size: 19px;
	color: beige;
}

.topBlockLetters {
	float: left;
	width: 56px;
	height: 25px;
	text-align: center;
	font-weight: bold;
	font-size: 19px;
	color: yellow;
}

.bottomBlockLetters {
	float: left;
	width: 56px;
	height: 25px;
	text-align: center;
	font-weight: bold;
	font-size: 19px;
	color: beige;
}

.chessField {
	width: 54px;
	height: 42px;
	border: 1px solid olive;
	float: left;
	text-align: center;
	padding-top: 12px;	
}


.chessAttr {
	display: none;
}

.attrPanelInChess {	
}