.compositeConceptContainerStyle {
	position: absolute;
	left : 170px ;
    top : 75px;
    width: 350px;
	background-color: #C8C8C8;
    border-bottom: #000 2px inset;
	border-left: #eee 2px inset;
	border-right: #000 2px inset;
	border-top: #eee 2px inset;
	-moz-box-shadow: 3px 3px 3px #000;
	-webkit-box-shadow: 3px 3px 3px #000;
	box-shadow: 3px 3px 3px #000;
	-moz-border-radius: 3px;
	border-radius: 3px;
	opacity: 0.8;
}

.compTitleBar {
	height: 22px;
}
.compClassActive {
	background-color: gray;
	opacity: 1;
	z-index: 1000;
}
.composConcHeaderStyle {
	width: 100%;
	background: url(../images/purple-bar.png) repeat-x top left;
	height: 33px;
}

.composConcNameFieldStyle {
	width: 55%;
	height: 22px;
	cursor: default;
	padding-top: 4px;
	text-align: center;
	font-weight: bold;
	font-size: 17px;
	float: left;
	padding-top: 4px;
	padding-bottom: 4px;
	color: white;
	text-shadow: 0 1px 1px #484949;
}

.compConcControlButtons {
	width: 65px;
}

.composConcControlButtons {
	float: right;
	width: 45%;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
}
.composParent {
	width: 200px;
	margin-top: 5px;
}
.negated {
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
}

.composConcAttrContainerStyle {
	width: 100%;
	height: 260px;
	overflow-y: scroll;
}

.compConceptsAttrsContainer{
	width: 100%;
	background-color: #666;
	clear: both;
}

.compAttrPanelStyle {	
	width: 100%;
}

.compChildParentAttribute {
	border-top: 1px solid #999;
	background-color:#c8c8c8;
	width: 100%;	
	height: 32px;
}
.compParentAttribute {	
	border-top: 1px solid #999;
	background: url(../images/attr.png) left top repeat-x;
	width: 100%;	
	height: 32px;
}
.compAttrChildren, .compChildAttrChildren {
	width: 100%;	
}

.composConcAttrChecker, .composChildConcAttrChecker, .composConcAttrNegater, .composConcChildAttrNegater {
	width: 5%;
	float: left;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
}

.composConcAttrName, .composConcChildAttrName {
	width: 45%;
	float: left;
	padding-top: 4px;
	padding-bottom: 4px;
	cursor: text;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	height: 22px;
} 

.composConcAttrParentConc, .composConcChildAttrParentConc {
	width: 35%;
	float: left;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
}
.composConcAttrParent, .composConcChildAttrParent {
	width: 120px;
}

.composConcChildAttrType {
	display:none;
}

.composSubAttrDisplay, .composSubChildAttrDisplay {
	width: 10%;
	float: right;
	padding-top: 2px;
	padding-bottom: 4px;
	text-align: center;
}

.compConcSubAttrStyle {
	width: 100%;
	clear: both;
	float: none;	
}

.compConceptAttrPanelStyle {
	width : 100% ;
    height : 30px ;
    background-color : #444 ;
    border-top : 1px black solid ;
    color: white;
}

.compConceptAttrNamePanelStyle {
	padding-left: 4px;
	cursor: default;
	font-weight: bold;
	font-size: 16px;
	width: 38%;
	float: left;	
	padding-top: 2px;
}

.compConceptAttrOperPanelStyle,  {
	width: 20%;
	float: left;
	text-align: center;	
	padding-top: 2px;
}

.actionInComposStyle {
	width: 100%;
	height: 27px;
	padding-top: 2px;
	padding-bottom: 2px;
	background: url(../images/silvergradient.gif) repeat-x top center;
	clear: both;
	border-top: 1px #333 solid;
	color: white;
}

.nameField {
	float: left;
	width: 50%;
	text-align: center;
	font-size: 19px;
	font-weight: bold;
	height: 27px;
	text-shadow: 0 1px 1px #484949;
}

.actionListPanel {
	float: left;
	width: 30%;
	text-align: center;
}

.concAddButtonInAction {
	float: left;
	width: 19%;
	text-align: center;
}
.showAttrChild, .showChildAttrChild {
	cursor: pointer;
	margin-left: 3px;
	width: 30px;
	height: 25px;
	background: url(../images/plus-minus.png) top center no-repeat;
}
.minus {
	background: url(../images/plus-minus.png) bottom center no-repeat !important;
}

.compIndexAttributeHeaderStyle {
	width: 100%;
	height: 30px;
	background-color: #eee;
	border-top: 1px solid black;	
}

.compIndexAttributeAdminFieldName {
	width: 60%;
	float: left;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	margin-top: 3px;
}

.compIndexAttributeAdminFieldButton {
	width: 40%;
	float: right;
	font-weight: bold;
	font-size: 12px;
	margin-top: 3px;
}

