.conceptsContentMainPanelStyle{
	width: 100%;
	height: 100%;
	background-color: #ccc;
}

.conceptsDisplayPanelStyle {
	width: 65%;
	padding-top: 4px;
	padding-left: 3px;
	padding-bottom: 1px;
	height: 98%;
	float: left;
	border-left: 2px inset #777;
	border-bottom: 2px inset #000;
	border-right: 2px inset #000;
	border-top: 2px inset #777;
	background: url("../images/back.png") no-repeat #333333 center;
	overflow-y: scroll;
}

.conceptsControlPanelStyle {
	width: 30%;
	height: 97.2%;
	float: right;
	padding-top: 4px;
	padding-left: 2px;
	padding-right: 5px;
	padding-bottom: 1px;
}

.conceptsControlButtonsPanelStyle {
	text-align: center;
	width: 350px;
	height: 35px;	
}

.conceptsListPanelStyle {
	width: 100%;
	height: 40%;
	border-left: 2px inset #777;
	border-bottom: 2px inset #000;
	border-right: 2px inset #000;
	border-top: 2px inset #777;
	background: #000;
	overflow-y: scroll;
	overflow-x: hidden; 
}

.actionListPanelStyle {
	width: 100%;
	height: 27%;
	border-top: 4px inset #888;
	border-bottom: 1px inset black;
	background-image: url("../images/back.jpg") center;
	overflow-y: scroll; 
	clear: both;
	border-right: 2px inset #000;
	border-left: 2px inset #777;
}

.setListPanelStyle {
	width: 100%;
	height: 25%;
	border-top: 4px inset #888;
	border-bottom: 1px inset black;
	background-image: url("../images/back.jpg") center;
	overflow-y: scroll; 
	clear: both;
	border-right: 2px inset #000;
	border-left: 2px inset #777;
}

.setListHeader {
	width: 100%;
	height: 30px;
	text-align: center;
	font-weight: bold;
	font-size: 19px;
	background: url(../images/silvergradient.gif) repeat-x;
	border-top: 1px #484949 solid;
	border-bottom: 1px #484949 solid;
	cursor: pointer;
	color: #F8F5DF;	
	text-shadow: 0px 1px 1px #484949;
}

.setListBody {
	height: 71%;
	width: 100%;
	background-color:#333333; 
	overflow-y: scroll;
}

.setConceptsTreeBody{
	background-color: #eee;
	width: 100%;
	overflow-y: scroll;
	height: 84%;
}

.setConceptsTreeHeader {
	width: 100%;
	height: 30px;
	text-align: center;
	font-weight: bold;
	font-size: 19px;
	border-bottom: 1px #484949 solid;
	cursor: pointer;
	background: url("../images/bluegradient.gif") top repeat-x;
	color:#fff;
	text-shadow: 0px 1px 1px #484949;
}

