.mainDiologContainerStyle {
    position : absolute ;
    left : 0px ;
    top : 0px;
    width : 100% ;
    height : 100% ;
    /*display: none;*/
}

.conceptSubDiologPanelStyle{    
    position : absolute ;
    left : 0px ;
    top : 0px;
    width : 100% ;
    height : 100% ;;
    filter:alpha(opacity = 60);
    -moz-opacity: 0.6;
    opacity: 0.6; 
    background-color : #999 ;
    z-index : 9999;
}

.conceptDiologPanelStyle{
    background-color : #eee ; 
    text-align : center ;
    width : 380px ;
    height : 200px ;
    border : 3px outset white ;
    position : absolute ;
    top : 180px;
    left : 280px ; 
    z-index : 10000;
}

.parentBunchClassPanelStyle {
	width: 250px;
	height: 50px;
}

.parentBunchStyle {
    visibility : hidden ;
    width: 200px;
}

.dialogButtons {
	width: 100px;	
}