.conceptTreePanelStyle {
	margin: 0px 0px 0px 0.8em;
	padding: 0px;
}

.conceptNameFieldInTree {	
	background-color: #eee;
	border: 1px solid #494848;
	list-style: none;
	text-shadow: 0px 1px 0px #fff;
}

.liInTable {
	list-style-image: url("../images/minus.gif");
}
.conceptsListPanel {
	width:100%;
	height: inherit;
	overflow-y: scroll;
}

.conceptNameInTree {
	text-decoration: none;
	color: #000;
	font-weight: bold;
	cursor: pointer;
	font-size: 15px;
	padding: 4px;
}

.actionNamePanel {
	width: 100%;
	height: 25px;
	background-color: #ccc;
	border-bottom: 1px inset black;
	border-top: 1px inset black;
	text-align: center;
	font-weight: bold;
}
.CompositeConceptTab {
	width: 80%;
	float:left;
}

.treeParentNameInTableStyle, .treeNameInTable {
	width: 97.4%;
	font-weight: bold;
	height: 20px;
	color: #484949;
	border-bottom: 1px solid #333; 
	cursor: pointer;
	padding-bottom: 2px;
	padding-top: 3px;
	padding-left: 8px;
	font-size: 14px;
	cursor: pointer;
	text-shadow: 0px 1px 1px #fff;
	background-color: #f0f0f0;
}
.treeChildNameInTableStyle {
	width: 94.7%;
	margin-left: 10px;
	font-weight: bold;
	height: 20px;
	color: #484949;
	border-bottom: 1px solid #333; 
	cursor: pointer;
	padding-bottom: 2px;
	padding-top: 3px;
	padding-left: 8px;
	font-size: 12px;
	cursor: pointer;
	text-shadow: 0px 1px 1px #f0f0f0;
	background-color: #f7dc1e;
	display: none;
}
.activeChild {
	background-color: #eeea4d;
}
.treeClassActiveNameInTable {
	background: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#AAAAAA));
	background: -moz-linear-gradient(top, #F9F9F9, #AAAAAA);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F9F9F9F9, endColorstr=#AAAAAAAA);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#F9F9F9F9, endColorstr=#AAAAAAAA)";
}

.arrowLeft {
	margin-top: 4px;
	margin-right: 5px;
	float: right;
	width: 15px;
	height: 13px;
	background: url(../images/arrows.png) left -13px no-repeat;
}
.primClassNameInTableClose, .compositeClassNameInTableClose, .ActionNameInTableClose, .setNameInTableClose {
	width: 15px;
	height: 15px;
	float: right;
	margin:2px 5px 0px 0px;
	background: url(../images/close-list.png) 0px -15px no-repeat;
	display: none;
}
.primClassNameInTableClose:hover, .compositeClassNameInTableClose:hover, .ActionNameInTableClose:hover, .setNameInTableClose:hover {
	background-position: top left;
}
.childName {
	width: 80%;
	float:left;
}
.nucleusName {
	width: 80%;
	float:left;
}

.primListWrapper, .compListWrapper {
	width: 100%;
}
.ActionTab, .setTab {
	width: 80%;
	float: left;
}
