/* Copyright (c) 2011 Raphaël Velt
 * Licensed under the MIT License
 * */

body {
    font-family: Helvetica, Arial, sans-serif; font-size: 12px;
    background-color: #e0e0e8; color: #204020; margin: 0;
}

.clear {
    clear: both;
}

.gradient {
    background-color: #f0f0f8; 
    background-image: -webkit-radial-gradient(#ffffff, #d8d8e0); background-image: -moz-radial-gradient(#ffffff, #d8d8e0);
}

/* EN HAUT */

#titlebar {
    background: #ffffff; border-bottom: 1px solid #CCC; position: fixed; margin: 0; padding: 0; left: 0; top: 0; right: 0; height: 45px; overflow: hidden;
}

#maintitle {
    position: absolute; left: 0; top: 0; width: 250px; text-align: center;
}


h1 {
    margin:0;
}

h1 a {
    background: url(../images/ssrgt.png) no-repeat;
    color: #208020;
    display: block;
    height:45px;
    margin: 0;
    text-indent: -9999px;
    width: 195px;
}

#searchinput {
    background: #fff url(../images/search.gif) no-repeat right;
    border: 1px solid #DDD;
    font-size: 14px; line-height: 14px, height: 14px;
    left: 250px;
    padding: 1px 4px; margin: 0;
    position: absolute;
    top: 10px;
    width: 320px;
}

#searchinput:focus, #searchinput:active {
    border-color:#aaa;
}

#searchsubmit {
    position: absolute; left: 560px; top: 13px; width: 20px; height: 20px; margin: 0; padding: 0; height: 16px; border: none; background: none; text-indent: -999px; cursor: pointer; cursor: hand;
}

.grey {
    color: #cccccc; font-style: italic;
}

/* AU CENTRE */

#zonecentre {
    position: fixed; top: 45px; bottom: 0; left: 0; right: 0; overflow: hidden;
}


#carte {
    position: absolute; left: 0px;
}

/* ZOOM IN OUT */

#ctlzoom {
    position: absolute; left: 5px; bottom: 5px; list-style: none; padding: 0; margin: 0;
}

#ctlzoom li {
    padding: 0; margin: 10px 0; width: 36px; text-align: center;
}

#zoomSliderzone {
    height: 120px;
}

#zoomMinusButton, #zoomPlusButton {
    display: block; width: 24px; height: 24px; background:url(../images/plusmoins.png);  margin: 0 auto;
}

#zoomMinusButton {
    background-position: 0 -24px;
}

#zoomMinusButton:hover {
    background-position: -24px -24px;
}

#zoomPlusButton {
    background-position: 0 0;
}

#zoomPlusButton:hover {
    background-position: -24px 0;
}

#lensButton, #edgesButton {
    display: block; width: 36px; height: 36px; background:url(../images/loupe-edges.png); margin: 0 auto;
}

#skeletonButton {
    display: block; width: 45px; height: 45px; background:url(../images/01.png); margin: 0 auto; background-position: -45px -35px;
}


/* #skeletonButton {
     background-position: -72px 0;
}

 {
    background-position: -36px 0;
}
*/
#skeletonButton.off, #skeletonButton:hover {
    background:url(../images/04.png) repeat scroll -51px -34px transparent;
}/*

#skeletonButton.off:hover {
    background-position: -108px 0;
}

 */
#lensButton {
     background-position: -72px 0;
}

#lensButton:hover {
    background-position: -36px 0;
}

#lensButton.off {
    background-position: 0 0;
}

#lensButton.off:hover {
    background-position: -108px 0;
}

#edgesButton {
    background-position: -72px -36px;
}

#edgesButton:hover {
    background-position: -36px -36px;
}

#edgesButton.off {
    background-position: 0 -36px;
}

#edgesButton.off:hover {
    background-position: -108px -36px;
}

#zoomSlider {
    background:#fff;
    border:1px solid #aaa;
    height: 120px; margin: 0 auto;
}

/* EN BAS A GAUCHE */

#overviewzone {
    position: fixed; right: 0; bottom: 0;
    border-style: solid none none solid; border-width: 5px; border-color: #ffffff;
}

/* COLONNE DE GAUCHE */

#leftcolumn {
    position: absolute; top: 45px; bottom: 0px; left: -250px; width: 250px; background-color: rgb(250, 250, 252); box-shadow: 2px 0 2px #808090; padding: 0;
}


/* GESTION DE LA BARRE DE GAUCHE */

#unfold {
    position: absolute; top: 16px; right: -14px; width: 12px; height: 12px; background: rgb(250, 250, 252); padding: 2px 2px 2px 0; border-top-right-radius: 5px; border-bottom-right-radius: 5px; box-shadow: 1px 1px 2px #808090;
}

#aUnfold {
    float: left; width: 12px; height: 12px; background-image: url(../images/fleches-horiz.png);
}

.leftarrow {
    background-position: -12px 0;
}

.rightarrow {
    background-position: 0 0;
}

.leftarrow:hover {
    background-position: -12px -12px;
}

.rightarrow:hover {
    background-position: 0 -12px;
}


/* ZONE GAUCHE */

#leftcontent {
    position: absolute; left: 0; top: 0; bottom: 0; right: 0; overflow: auto; list-style: none; margin: 0; padding: 0; border-top: 1px solid #cccccc;
}

div.largepill {
    float: left; width: 16px; height: 16px; border-radius: 8px; margin: 0 5px 0 0;
}

div.smallpill {
    float: left; width: 12px; height: 12px; border-radius: 6px; margin: 0 5px 0 0;
}

#leftcontent h3 {
    font-size: 16px;
}

#leftcontent h4 {
    font-size: 14px;
}

#leftcontent h3, #leftcontent h4, #leftcontent p, #leftcontent ul {
    margin: 5px;
}

#leftcontent ul {
    list-style: none; padding: 0;
}

#leftcontent li {
    margin: 2px 0; padding: 0; font-size: 12px;
}

a {
    color: #06a8de; font-weight: bold; text-decoration: none;
}

a:hover {
    color: #000080;
}

/* AUTOCOMPLETE */

#autocomplete {
    position: absolute; display: none; padding: 0; margin: 0;
    border-style: none solid; border-color: #ccc; border-width: 1px;
}

#autocomplete div {
    border-bottom: 1px solid #ccc; padding: 0; margin: 0; float: left; clear: both; background: #fff;
}

#autocomplete h4 {
    float: left; width: 80px; margin: 5px; font-size: 12px;
}

#autocomplete ul {
    float: left; width: 240px; list-style: none; padding: 0; margin: 0;
}

#autocomplete li {
    margin: 0; width: 240px; height: 28px; font-size: 12px; clear: both;
}

#autocomplete li a {
    display: block; width: 240px; height: 28px; background: #fff; color: #06a8de;
}

#autocomplete li.hover a {
    color: #fff; background: #06a8de;
}

#autocomplete span {
    float: left; margin: 0; padding: 6px 2px 0;
}

#autocomplete img {
    float: left; border: 0; width: 24px; height: 24px; margin: 2px 6px;
}

#loader {
     visibility: hidden;
     position: fixed;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     text-align:center;
     z-index: 200;
     background-image:url(maskBG.png);
    background-color: black;
    opacity:0.9;
}

#loader div {
     width:300px;
     margin: 100px auto;
     background-color: #fff;
     border:1px solid #000;
     padding:15px;
     text-align:center;
}

.clasp {
text-align:center;
}
.lunchbox {
color: white;
display:none;
width:500px;
}

#overlay {
     visibility: hidden;
     position: fixed;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     text-align:center;
     z-index: 200;
     background-image:url(maskBG.png);
    background-color: black;
    opacity:0.9;
}

input[type="button"] {
	-moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
	/* For WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#E3E3E3));
	/* For Mozilla/Gecko (Firefox etc) */
	background: -moz-linear-gradient(top, #F9F9F9, #E3E3E3);
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F9F9F9F9, endColorstr=#E3E3E3E3);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#F9F9F9F9, endColorstr=#E3E3E3E3)";
    border-color: #CCCCCC #BBBBBB #A0A0A0;
    border-left: 1px solid #BBBBBB;
    border-radius: 3px 3px 3px 3px;
    border-right: 1px solid #BBBBBB;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    font: 75% arial,sans-serif;
    margin: 0 8px 0 0;
    outline: medium none;
    padding: 3px 8px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
}
input[type="button"]:hover {
	/* For WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#CCCCCC));
	/* For Mozilla/Gecko (Firefox etc) */
	background: -moz-linear-gradient(top, #F9F9F9, #CCCCCC);
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F9F9F9F9, endColorstr=#CCCCCCCC);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#F9F9F9F9, endColorstr=#CCCCCCCC)";
}

#overlay input{
 	display:inline-block;
    margin:-1px 4px 0 0;
    vertical-align:middle;
}