input[type="button"] {
	-moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
	/* For WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#E3E3E3));
	/* For Mozilla/Gecko (Firefox etc) */
	background: -moz-linear-gradient(top, #F9F9F9, #E3E3E3);
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F9F9F9F9, endColorstr=#E3E3E3E3);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#F9F9F9F9, endColorstr=#E3E3E3E3)";
    border-color: #CCCCCC #BBBBBB #A0A0A0;
    border-left: 1px solid #BBBBBB;
    border-radius: 3px 3px 3px 3px;
    border-right: 1px solid #BBBBBB;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    font: 75% arial,sans-serif;
    margin: 0 8px 0 0;
    outline: medium none;
    padding: 3px 8px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
}
input[type="button"]:hover {
	/* For WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#CCCCCC));
	/* For Mozilla/Gecko (Firefox etc) */
	background: -moz-linear-gradient(top, #F9F9F9, #CCCCCC);
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F9F9F9F9, endColorstr=#CCCCCCCC);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#F9F9F9F9, endColorstr=#CCCCCCCC)";
}
.mainPanelStyle {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: #CCC;
	height: 100%;
	overflow: hidden;
}
.topPanel {
	background-color: #eee;
}
.tabGroupStyle {
	width: 870px;
	height: 30px;
	margin: 0px;
	padding: 0px;
}

.tabStyle {
	/*width: 120px;
	float: left;	
	background-color: #999;
	border-right: #999 1px solid;
	border-left: #ccc 1px solid;
    border-top: #999 1px solid;
    border-bottom: #999 1px solid;	
    margin: 0px 1px 0px 0px;        
    text-align: center;
    font: bold 0.7em sans-serif;
    padding-top: 7px;
    padding-bottom: 7px;
    cursor: pointer;*/
    
    background-color: #999;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;    
    width: 120px;
    float: left;
    font: bold 0.7em sans-serif;
    margin: 0px 1px 0px 0px; 
    border: 1px solid #BBBBBB;
	border-bottom: none;
	/* For WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, left bottom, from(#DDDDDD), to(#AAAAAA));
	/* For Mozilla/Gecko (Firefox etc) */
	background: -moz-linear-gradient(top, #DDDDDD, #AAAAAA);
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDDDDDDD, endColorstr=#AAAAAAAA);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDDDDDDD, endColorstr=#AAAAAAAA)";
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;    
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    cursor: pointer;
}

.contentGroupStyle {
	clear: both;
    border-left: 1px #ccc solid;
    border-right: 1px #999 solid;
    border-bottom: #ccc 1px solid;
    background-color: #ccc;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-left: 4px;
    padding-right: 4px;
	height: 94.2%;
    
}

.tabHoverClass {
	/* For WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#BBBBBB));
	/* For Mozilla/Gecko (Firefox etc) */
	background: -moz-linear-gradient(top, #F9F9F9, #BBBBBB);
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F9F9F9F9, endColorstr=#BBBBBBBB);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#F9F9F9F9, endColorstr=#BBBBBBBB)";
}

.tabSelectedClass {    
    /* For WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#BBBBBB));
	/* For Mozilla/Gecko (Firefox etc) */
	background: -moz-linear-gradient(top, #F9F9F9, #BBBBBB);
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F9F9F9F9, endColorstr=#BBBBBBBB);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#F9F9F9F9, endColorstr=#BBBBBBBB)";
}

.loading-indicator {
	height: 80px;
	width: 80px;
	background: url(../images/ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
	margin: auto auto;
	z-index: 10000;
	position:absolute;
}

.loading-indicator-overlay {
	background-color: #FFFFFF;
	opacity: 0.6;
	filter: alpha(opacity = 60);
}

.editableText:hover {
	outline: 1px dashed grey;
}
.editableToolbar:hover + * {
	outline: 1px dashed grey;
}
.editableToolbar {
	float: left;
}
.editableToolbar a{
    display: block;
    width: 17px;
    height: 15px;
    float: left;
    margin: 2px;
}
.editableToolbar .edit {	
	background: url("../images/editIcons.png");
}
.editableToolbar .save {
    background: url("../images/editIcons.png") -16px 0;
}
.editableToolbar .cancel {
    background: url("../images/editIcons.png") 25px 0;
}
