.plansContentMainPanelStyle{
	width: 100%;
	height: 100%;
	background-color: #ccc;
}

.plansDisplayPanelStyle {
	width: 65%;
	padding-top: 4px;
	padding-left: 3px;
	padding-bottom: 1px;
	height: 98%;
	float: left;
	border-left: 2px inset #777;
	border-bottom: 2px inset #000;
	border-right: 2px inset #000;
	border-top: 2px inset #777;
	background: url("../images/back.png") no-repeat #333333 center;
	overflow-y: scroll;
}

.plansControlPanelStyle {
	width: 30%;
	height: 97.2%;
	float: right;
	padding-top: 4px;
	padding-left: 2px;
	padding-right: 5px;
	padding-bottom: 1px;
}

.plansControlButtonsPanelStyle {
	text-align: center;
	width: 350px;
	height: 35px;	
}

#plansListPanel {
	width: 100%;
	height: 40%;
	border-left: 2px inset #777;
	border-bottom: 2px inset #000;
	border-right: 2px inset #000;
	border-top: 2px inset #777;
	background: #000;
	overflow-y: scroll;
	overflow-x: hidden; 
}

#planWrappersListPanel {
	width: 100%;
	height: 40%;
	border-left: 2px inset #777;
	border-bottom: 2px inset #000;
	border-right: 2px inset #000;
	border-top: 2px inset #777;
	background: #000;
	overflow-y: scroll;
	overflow-x: hidden; 
}

.actionListPanelStyle {
	width: 100%;
	height: 27%;
	border-top: 4px inset #888;
	border-bottom: 1px inset black;
	background-image: url("../images/back.jpg") center;
	overflow-y: scroll; 
	clear: both;
	border-right: 2px inset #000;
	border-left: 2px inset #777;
}

.setListPanelStyle {
	width: 100%;
	height: 25%;
	border-top: 4px inset #888;
	border-bottom: 1px inset black;
	background-image: url("../images/back.jpg") center;
	overflow-y: scroll; 
	clear: both;
	border-right: 2px inset #000;
	border-left: 2px inset #777;
}

.setListHeader {
	width: 100%;
	height: 30px;
	text-align: center;
	font-weight: bold;
	font-size: 19px;
	background: url(../images/silvergradient.gif) repeat-x;
	border-top: 1px #484949 solid;
	border-bottom: 1px #484949 solid;
	cursor: pointer;
	color: #F8F5DF;	
	text-shadow: 0px 1px 1px #484949;
}

.setListBody {
	height: 71%;
	width: 100%;
	background-color:#333333; 
	overflow-y: scroll;
}

.setPlansTreeBody{
	background-color: #eee;
	width: 100%;
	overflow-y: scroll;
	height: 84%;
}

.setPlansTreeHeader {
	width: 100%;
	height: 30px;
	text-align: center;
	font-weight: bold;
	font-size: 19px;
	border-bottom: 1px #484949 solid;
	cursor: pointer;
	background: url("../images/bluegradient.gif") top repeat-x;
	color:#fff;
	text-shadow: 0px 1px 1px #484949;
}

.treeNameInTable  .goalRemoveBtn,
.treeNameInTable  .planRemoveBtn{
	display: inline-block;
	float: right;
	margin-right: 10px;
	width: 18px;
	text-align: center;
	border: 1px solid;
	border-radius: 50%;
	vertical-align: middle;
	height: 18px;
	line-height: 15px;
}
.treeNameInTable  .planWrapperRemoveBtn{
	display: inline-block;
	float: right;
	margin-right: 10px;
	width: 18px;
	text-align: center;
	border: 1px solid;
	border-radius: 50%;
	vertical-align: middle;
	height: 18px;
	line-height: 15px;
}

.treeNameInTable  .GoalTab,
.treeNameInTable  .PlanTab{
	display: inline-block;
	width: 80%;
}
.treeNameInTable  .PlanWrapperTab{
	display: inline-block;
	width: 80%;
}

.separator.inline{
	width: 10px;
	display: inline-block;
}

.goalAddUpdateBlock,
.planAddUpdateBlock{
	background-color: #eee;
	text-align: center;
	width: 380px;
	min-height: 200px;
	max-height:600px;
	border: 3px outset white;
	position: absolute;
	top: 180px;
	left: 20%;
	z-index: 9999;
}
.planWrapperAddUpdateBlock{
	background-color: #eee;
	text-align: center;
	width: 380px;
	min-height: 200px;
	max-height:600px;
	border: 3px outset white;
	position: absolute;
	top: 180px;
	left: 20%;
	z-index: 9999;
}


.goalAddUpdateBlock.hidden,
.planAddUpdateBlock.hidden{
	display: none;
}
.planWrapperAddUpdateBlock.hidden{
	display: none;
}

.goalAddUpdateBlock.visible,
.planAddUpdateBlock.visible{
	display: block;
}
.planWrapperAddUpdateBlock.visible{
	display: block;
}

.goalAddUpdateBlock input, .goalAddUpdateBlock select{
	display: block;
	width: 200px;
	padding-left: 5px;
	margin: 8px auto;
}

.sortable {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 60%;
	display: inline-block;
}
.sortable li {
	margin: 0 3px 3px 3px;
	padding: 0.4em;
	padding-left: 1.5em;
	font-size: 1.4em;
	height: 18px;
	border:1px solid rgb(144, 146, 150);
	border-radius:25px;
	cursor:move;
	position:relative;
}
.sortable li span {
	position: absolute;
	margin-left: -1.3em;
}
#planAddUpdateForm button#AddGoal{
	display: block;
	margin: 10px auto 20px auto;
}
#planWrapperAddUpdateForm button{
	display: block;
	margin: 10px auto 20px auto;
}

.planAddUpdateBlock .removeGoalFromPlan{
	width: 18px;
	text-align: center;
	border: 1px solid;
	border-radius: 50%;
	vertical-align: middle;
	height: 18px;
	position: absolute;
	right: 10px;
	line-height: 15px;
	cursor: pointer;
}
.planAddUpdateBlock li:first-child .removeGoalFromPlan{
	display:none !important;
}

.planWrapperAddUpdateBlock li:first-child .removePlanFromPlanWrapper{
	display:none !important;
}

#planAddUpdateForm #planGoals select{	
	width: 150px;
	position: absolute;
	right: 35px;
	top: 5px;
}

#planWrapperAddUpdateForm #plans select{
	width: 150px;
	position: absolute;
	right: 35px;
	top: 5px;
}